################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarPartsImport/bin
/CarPartsImport/obj/Debug
/.vs
